/* index.css */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 248, 232);
    color: rgb(103, 70, 54);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: rgb(103, 70, 54);
    margin: 0; /* Remove default margin */
}

h3 {
    color: rgb(170, 179, 150);
    margin: 10px 0 20px 0; /* Provide vertical space between h1 and h3 */
}

form {
    background-color: rgb(247, 238, 211);
    padding: 20px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: rgb(103, 70, 54);
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(170, 179, 150);
    border-radius: 5px;
}

input[type="submit"] {
    background-color: rgb(170, 179, 150);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(103, 70, 54);
}

a {
    color: rgb(103, 70, 54);
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: 1px solid rgb(170, 179, 150);
}
