<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="home.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	<nav>
		<div class="nav-profile-pic">
		<img th:if="${user.photoBase64}"
			th:src="'data:image/jpeg;base64,' + ${user.photoBase64}"
			alt="Profile Photo" />
		<span th:text="${session.username}"></span>
		</div>
		<a href="/myprofile"><i class="fas fa-user-circle"></i> My Profile</a>
		<a href="/opennewsfeed"><i class="fas fa-home"></i> News Feed</a>
		<a href="/opencreatepost"><i class="fas fa-plus-circle"></i> Create Post</a>
	</nav>
	
	<h2>Upload New Post</h2>
	
	<form id="create" action="/createpost" method="post" enctype="multipart/form-data">
		<textarea name="caption" placeholder="Write your caption here..." required></textarea>
		
		<input type="file" name="photo" accept="image/*">
		
		<button type="submit">POST</button>
	</form>
</body>
</html>