<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="home.css" rel="stylesheet">
</head>
<body>
	<header>
	<h1>Welcome home!!</h1>
		<nav>
		<a href="">My Profile</a>
		<a href="/opennewsfeed">News Feed</a>
		<a href="/opencreatepost">Create Post</a>
		</nav>
	</header>
	<h1>Post Details</h1>
	<div class="profile-details">
       <span th:each="post : ${allposts}">
       		<p><strong>Photo:</strong></p>
       		<img th:if="${post.photoBase64}" 
       		th:src="'data:image/jpeg;base64,'+${post.photoBase64}" 
       		alt="Profile Photo" />
       		<p><strong>Caption:</strong></p>
       		<span th:text="${post.caption}"></span>
        </span>
     </div>  
        
</body>
</html>