<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>KodBook</title>
<link href="index.css" rel="stylesheet">
</head>
<body>
	<h1>Welcome to KodBook!</h1>
	<h3>#1 Social media app!!</h3>
	<hr>
	<form action="/login" method="post">
		<label>Username or Email: </label>
		<input type="text" name="text" required>
		<br></br>
		<label>Password: </label>
		<input type="password" name="password" required>
		<br><br>
		<input type="submit" value="Login">
		<hr>
		<a href="/openResetPassword">Forget Password?</a>
		<a href="/openSignUp">Create new account</a>
	</form>
</body>
</html>