<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>KodBook</title>
<link href="index.css" rel="stylesheet">
</head>
<body>
<div class="container">
        <div class="info">
	<h1>Welcome to <span class="highlight">KodBook</span>!</h1>
	<p>#1 Social media app!!</p>
	</div>
	<form action="/login" method="post">
		<label>Username / Email: </label>
		<input type="text" name="text" required>
		<br></br>
		<label>Password: </label>
		<input type="password" name="password" required>
		<a href="/openResetPassword" id="forgot">Forget Password?</a>
		<input type="submit" value="Login">
		<hr>
		<a href="/openSignUp">Create new account</a>
	</form>
	</div>
</body>
</html>
