<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="signup.css" rel="stylesheet">
</head>
<body>
	<div class="container">
        <div class="info">
	<h1>Welcome to <span class="highlight">KodBook</span>!</h1>
	<p>#1 Social media app!!</p>
	</div>
	<form action="/signup" method="post">
		<h5>Email Id is already exist..</h5>
		<label>Username: </label>
		<input type="text" name="username" required>
		<label>Email: </label>
		<input type="email" name="email" required>
		<label>Password: </label>
		<input type="password" name="password" required>
		<label>DOB: </label>
		<input type="date" name="dob" required>
		<label>Gender: </label>
		<div class="gender-group">
		<label>Male</label>
		<input type="radio" name="gender" value="male" required>
		<label>Female</label>
		<input type="radio" name="gender" value="female">
		<label>Other</label>
		<input type="radio" name="gender" value="other">
		</div>
		<input type="submit" value="SignUp">
		<a href="/">Already have account? Login instead</a>
	</form>
	</div>
</body>
</html>